{% extends 'base.html.twig' %}

{% block title %}Thomas Ripoll | Curriculum Vitae{% endblock %}
{% block stylesheets %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
<nav class="menu">
    <input id="menu-expand" type="checkbox">
    <label for="menu-expand" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#acceuil">Acceuil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#experiences">Expériences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#diplomes">Compétences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#bio">Bio</a>
        </li>
        {#
        <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
        </li>
        #}
    </ul>
</nav>
<header id="acceuil">
    <div class="container">
        <div class="row flex-column-reverse flex-lg-row justify-content-center header">
            <div class="col-12 col-lg-6 title">
                <h1>Thomas Ripoll</h1>
                <h2>Développeur / Devops</h2>
                <p><a href="mailto:ripolltho@gmail.com" target="_blank">ripolltho@gmail.com</a></p>
                <div class="social">
                    <a href="https://github.com/Pitrivief" target="_blank">
                        <img src="{{ asset('build/images/github-logo.svg') }}" alt="">
                    </a>
                    <a href="https://www.linkedin.com/in/thomas-ripoll-407343116/" target="_blank">
                        <img src="{{ asset('build/images/linkedin-logo.svg') }}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-6 photo">
                <img src="{{ asset('build/images/photo.jpg') }}" alt="">
            </div>
        </div>
    </div>
</header>
<main class="container experiences" id="experiences">
    <div class="row experience">
        <div class="col-lg-8 offset-lg-2">
            <h2>Expériences</h2>
        </div>
    </div>
    <div class="experiences-wrapper container">
        <div class="row experience">
            <div class="col-lg-6 left">
                <div class="" style="--logo: url({{ asset('build/images/legallais-logo.png') }});">
                    <p class='date'>Année 2018-En cours</p>
                    <h3>
                        Legallais
                    </h3>
                    <p>Développeur/Devops</p>
                    <p>
                        Site e-commerce leader français dans la vente de Quincaillerie.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 right">
                <div>
                    <h4>Tâches:</h4>
                    <ul>
                        <li>Maintenance Site Ecommerce</li>
                        <li>Portage des briques de l'ancien monolithe en microservices</li>
                        <li>Maintenance du nuage de microservices</li>
                        <li>Développement de nouvelles features</li>
                    </ul>
                    <h5>Technologies:</h5>
                    <ul>
                        <li>JS, SCSS</li>
                        <li>PHP (Symfony, ZF), JAVA (Springboot)</li>
                        <li>MYSQL</li>
                        <li>Kubernetes, Docker</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row experience">
            <div class="col-lg-6  left">
                <div style="--logo: url({{ asset('build/images/logo-sammagenceweb.png') }});">
                    <p class='date'>Année 2016-2017</p>
                    <h3>
                        Samm Agence Web
                    </h3>
                    <p>Développeur full stack</p>
                    <p>Agence web, spécialisée dans les sites hôteliers. <br>Fournisseur officiel de Logis de France.</p>
                </div>
            </div>
            <div class="col-lg-6  right">
                <div>
                    <h4>Tâches:</h4>
                    <ul>
                        <li>Intégration sitewebs</li>
                        <li>Maintenance</li>
                        <li>Dévelopement de librairies js</li>
                        <li>Amélioration framework PHP maison</li>
                    </ul>
                    <h5>Technologies:</h5>
                    <ul>
                        <li>PHP, JS</li>
                        <li>MYSQL</li>
                        <li>Administration système</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row experience">
            <div class="col-lg-6  left">
                <div style="--logo: url({{ asset('build/images/logo-gpt.png') }});">
                    <p class='date'>Année 2012-2014</p>
                    <h3>
                        Go pro travelling
                    </h3>

                    <p>Cofondateur / développeur</p>
                    <p>Réseau social dans le monde du voyage</p>
                </div>
            </div>
            <div class="col-lg-6 right">
                <div>
                    <h4>Tâches:</h4>
                    <ul>
                        <li>Développement de la plateforme</li>
                        <li>Maintenance</li>
                        <li>Développement de l'application</li>
                    </ul>
                    <h5>Technologies:</h5>
                    <ul>
                        <li>PHP(Symfony 1), JS</li>
                        <li>MYSQL</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="diplomes section" id="diplomes">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2>Formations et Compétences</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h3>Formation</h3>
                <p><img class="openclassrooms-logo" src="{{ asset('build/images/openclassrooms-logo.svg') }}" alt=""> 2018 - Diplôme Chef de projet multimédia spécialité développement.</p>
                <h3>Langues</h3>
                <p>Anglais courant et technique.</p>
                <h3>Compétences</h3>
                <ul>
                    <li><b>Technologies Front :</b> Javascript, SCSS, Webpack</li>
                    <li><b>Technologies Back :</b> PHP (Symfony, ZF), JAVA (Springboot)</li>
                    <li><b>Devops :</b> Docker, Kubernetes, Keycloak, RabbitMQ</li>
                    <li><b>Versioning :</b> Git, Github, Gitlab</li>
                    <li><b>Administration système :</b> Linux</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section id="bio" class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2>Qui suis je?</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <p>
                    Passionné de nouvelles technologies depuis de nombreuses années, je m'épanouïs chaque jour dans mon metier.
                    Autodidacte, j'ai découvert le monde de l'informatique après un début dans le graphisme.
                    Ma curiosité m'amena peu à peu à composer mes premières pages webs et 10 ans plus tard,
                    je n'ai toujours pas assouvi ma soif de connaissance.
                    Souhaitant officialiser mes compétences, j'ai obtenu mon diplôme de chef de projet multimédia avec Openclassrooms en 2018.
                    Grâce à ce sésame, j'ai pu intégrer une grande société qui me donne des sujets pour mettre en application les technologies de pointes du monde du web.
                </p>
            </div>
        </div>
    </div>
</section>
    {#
<section class="contact section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col d-flex flex-column text-center align-items-stretch">
                <h2>Contacts</h2>
                <div>
                    <span class="input input--ruri">
                        <input class="input__field input__field--ruri" type="text" id="input-26" />
                        <label class="input__label input__label--ruri" for="input-26">
                            <span class="input__label-content input__label-content--ruri">Username</span>
                        </label>
                    </span>
                </div>
                <div>
                    <span class="input input--ruri">
                        <input class="input__field input__field--ruri" type="text" id="input-27" />
                        <label class="input__label input__label--ruri" for="input-27">
                            <span class="input__label-content input__label-content--ruri">Website</span>
                        </label>
                    </span>
                </div>
                <div>
                    <span class="input input--ruri">
                        <input class="input__field input__field--ruri" type="text" id="input-28" />
                        <label class="input__label input__label--ruri" for="input-28">
                            <span class="input__label-content input__label-content--ruri">Invitation Code</span>
                        </label>
                    </span>
                </div>

                <div>
                    <textarea name="" id="" cols="30" rows="10" place></textarea>
                </div>
                <div>
                    <span class="input input--ruri">
                        <textarea name="" id="" cols="30" rows="10" place>

                        </textarea>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
    #}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">© 2021 Thomas Ripoll</div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascript_bottom %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
